<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/css/style.css}" /> 
  
  </head>
  <body>
    <div id='pagebackground' class='pagebackground'>
        <button id='titre' class='bigbutton titre'>Pay My Buddy</button>

        <a th:href="@{/login}" class='button'>Se connecter</a>
        
        <a th:href="@{/signin}" class='button2'>S'inscrire</a>
        

        <div id='rectangle' class='rectangle' >
   
    </div>
      </div>
      
  </body>

</html>



  