<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>

<body>
	<div id='pagebackground' class='pagebackground'>
				<div id='rectangle' class='rectangle'>
					<button id='titre' class='bigbutton titre'>Pay My Buddy</button>
				<div id='inputfield2' class='inputfield if2' top=301px left=90px>Etes vous sûr de vouloir vous déconnecter?</div>
				<button id='titre' class='bigbutton validate'><a href='/custom-logout'>OUI</a></button>
	</div>
</body>

</html>